@import 'variables';
@import 'mixins';
@import 'fontface';

html,body {
  height: 100%;
}

body {
  font-family: $regular;
  letter-spacing: .25px;
  font-size: 13px;
}

a {
  text-decoration: underline;
  color: $cyan;
}


button {
  border-radius: 0 !important;
}

.block,
.left-block
.right-block {
  display: block;
}

.left-block {
  float: left;
}

.right-block {
  float: right;
}

.fixed-height {
  min-height: 250px;
  height: 250px;
}

.margin-reset {
  margin: 0;
}

.padding-reset {
  padding: 0;
}

.icon {
  @include border-radius(50%);
  padding: .25em .75em;
  text-align:center;
  background-color:#D2D2D2;
  font-size: 3em;
  font-family: $bold;
  color: $white;
}

.message-container {
  h1 {
    @extend .cyan;
    @extend .margin-reset;
    font-size: $unit*2;
  }
}

.btn {
  line-height: 11px;
  border: none;
  color: $white;
  height: 1.5em;
}
.btn-default {
  @extend .btn;
  @extend .bg-teal;
  @include background($arrowWhite,right,center,no-repeat,initial);
  &:hover {
    @extend .bg-teal;
    color: $white;
  }
}
.btn-alt {
  @extend .btn;
  color: $cyan;
  @include background($arrowBlue,left,center,no-repeat,initial);
  &:hover {
    @extend .bg-teal;
    color: $cyan;
  }
}

.btn-primary {
  @extend .btn;
  @extend .bg-primary;
  padding-right: 11%;
  @include background($arrowWhite,94%,center,no-repeat,initial);
  &:hover {
    @extend .bg-primary;
    color: $white;
  }
}


.table-item {
  [class*="col-"] {
    float: none;
  }
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  >* {
   display: table-cell;
   vertical-align: middle;
 }
}

.bg-white {
  background-color: $white;
}
.bg-gray {
  background-color: $gray;
}
.bg-ltgray {
  background-color: $ltgray;
}
.bg-teal {
  background-color: $teal;
}
.bg-primary {
  background-color: $primary;
}

.login {
  .form-container{
    @extend .bg-teal;
    @include box-shadow(0, 1px, 12px,rgba(0,0,0,0.8));
    z-index: 2;
  }
  @extend .message-container;
  .message-container {
    @extend .bg-gray;
    div {
      text-align: center;
      span {
        @extend .icon;
        font-family: $rounded;
      }
      p {
        text-align: left;
      }
    }
  }
  > [class*="col-"] {
    @extend .fixed-height;
    margin-bottom: $unit;
  }
  width: 100%;
  height: auto;
  @extend .left-block;
  form {
    padding: 0.5em 2em 2em 0;
    color: #fff;
    input, button {
      border-radius: 0;
      height: 25px;
    }
    h3 {
      font-size: 20px;
      padding-top: 0;
      margin-top: 5px;
    }
    label {
      color: #b9baa2;
    }
  }
  button {
    float: right;
  }
  button.btn-default.btn-alt {
    float: left;
  }
}

.consulta {
  @extend .margin-reset;
  p {
    font-size: 12px;
    @extend .margin-reset;
  }
}

.user {
  text-transform: uppercase;
  button {
    @extend .btn;
    @extend .btn-primary;
    padding: 6px 21px 6px 10px;
    text-transform: uppercase;
    margin: .25em 0;
  }
}



.modal-content {
  border-radius:0;
  .modal-header {
    background-color:#00548E;
    color: #fff;
    button.close {
      margin-top:2px;
      height: 18.5px;
      width: 20px;
      @include background($close,center,no-repeat, 0, cover);
      background-image: url($oldSprite);
      opacity:1;
    }
    &:hover {
      background-position-y: -19px;
      opacity:1;
    }
  }
}

.navbar {
  height: 6%;
  border-radius: 0;
  margin-bottom: 0;
  z-index: 1040;
  a {
    img {
      margin-top: -7px;
    }
    img.extranet {
      margin-top: -13px;
    }
  }
}

.navbar-default {
  @include box-shadow(1px, 1px, 12px,rgba(0,0,0,0.8));
}

.navbar-inverse {
  font-family: $bold;
  color: #C1C1C1;
  min-height: 34px;
  margin-bottom: 0;
  ul {
    margin-top: 5px;
    li {
      border-right: 2px solid #C1C1C1;
      color: #C1C1C1;
      float: left;
      font-family: $bold;
      font-size: 12px;
      padding: 3px 1.3%;
    }
  }
}

h1,h2 {
    font-family: $regular;
    font-weight: normal;
}

.navy {color: $navy;}
.cyan {color: $cyan;}

.footer {
  @extend .left-block;
  @include background($shadowTop,center,$unit,repeat-x,initial);
  background-color: $white;
  padding: 3em 0;
  width: 100%;
  p, a {
    font-size: 9px;
    color: #7A7A7A;
    font-family: arial;
    line-height: 1.4em;
    text-align: center;
  }
  img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    &:hover{
      opacity: 1;
      filter: alpha(opacity=100); /* For IE8 and earlier */
    }
  }
  .table-item {
    div {
     padding: 1em;
    }
  }
  .extranet {
    background-color: #fff;
    border-color: #e7e7e7;
    height: 10%;
    padding: 1em;
  }
  ul {
    text-align: center;
    li {
       list-style: none;
       display: inline-block;
       width: 9%;
       height: auto;
       padding: 5px;
       a {
         display: inherit;
         width: 100%;
         height: 3.5em;
         background-position: center;
         background-repeat: no-repeat;
         background-size: contain;
       }
    }
    li.urg,
    li.fundacion {
      width: 7%;
    }
    li.osde {
      a {
        @include background($osde);
        &:hover {
          @include background($osdeHover);
        }
      }
    }
    li.binaria {
      a {
        @include background($binaria);
        &:hover {
          @include background($binariaHover);
        }
      }
    }
    li.interturis {
      a {
        @include background($interturis);
        &:hover {
          @include background($interturisHover);
        }
      }
    }
    li.urg {
      a {
        @include background($urgencias);
        &:hover {
          @include background($urgenciasHover);
        }
      }
    }
    li.fundacion {
      a {
        @include background($fundacion);
        &:hover {
          @include background($fundacionHover);
        }
      }
    }
  }
}
.shadow-top {
  @include box-shadow(0, 1px, 12px,rgba(0,0,0,0.8));
}
.shadow-bottom {
  @include box-shadow(-1px, 1px, 12px,rgba(0,0,0,0.8));
}



/*Slider*/


.carousel-fade {
  .carousel-inner {
    .item {
      h1,h2 {
        font-size: 30px;
        @extend .margin-reset;
        line-height: 30px;
      }
      h1 {
        @extend .navy;
      }
      h2 {
        @extend .cyan;
      }
      height: 265px;
      transition-property: opacity;
      img {
        position: absolute;
        right: 0;
      }
      span {
        text-align: right;
        position: absolute;
        top: 28%;
        left: 8%;
      }
    }
    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

.carousel {
  .carousel-indicators {
    left: 8%;
    li {
      background-color: #808080;
      border: none;
    }
    li.active {
      background-color: #0C90B6;
    }
  }
}

.well {
  background: $transparent;
  border: none;
  height: 94%;
  margin-bottom: 0;
  padding-bottom: 0;
  .row {
    height: 100%;
    .message-container {
      height: 100%;
      position: relative;
      overflow: hidden;
      .message {
        margin-top: 10%;
        height: 90%;
        @extend .bg-ltgray;
        @include box-shadow(0, 1px, 12px,rgba(0,0,0,0.8));
        border-top: $unit/2 solid $teal;
        div.list-container {
          border: 1px solid $dkgray;
          height: 100%;
          padding: $unit*3;
          a {
            color: inherit;
            text-decoration: none;
            @extend .btn;
            @include background($arrowGray,left,initial,no-repeat,initial);
            padding-left: 1em;
          }
        }
      }
    }
  }
}
