/*
Fonts
*/

$thin:    'museosans-100';
$regular: 'museosans-300';
$bold:    'museosans-500';
$rounded: 'GothamRounded-Bold';


/*
Colors
*/
$gray:        #f0f0f0;
$ltgray:      #f6f6f6;
$dkgray:      #dbdbdb;
$white:       #FFF;
$navy:        #054281;
$cyan:        #55C7E7;
$teal:        #016280;
$primary:     #08A6CE;
$transparent: transparent;

/*
Sizes
*/

$lg:100%;
$md:75%;
$sm:50%;
$xs:25%;

$unit: 1em;

/*
Logos & Images
*/

$oldSprite:         '../img/btn_close.png';
$osde:              '../img/osde_binario_off.gif';
$osdeHover:         '../img/osde_binario_on.gif';
$binaria:           '../img/binaria_off.gif';
$binariaHover:      '../img/binaria_on.gif';
$interturis:        '../img/interturis_off.gif';
$interturisHover:   '../img/interturis_on.gif';
$urgencias:         '../img/urgencias_off.gif';
$urgenciasHover:    '../img/urgencias_on.gif';
$fundacion:         '../img/fundacion_off.gif';
$fundacionHover:    '../img/fundacion_on.gif';
$close:             '../img/btn_close.png';
$arrowWhite:        '../img/bg_button_right.png';
$arrowBlue:         '../img/bg_button_right_blue.png';
$arrowGray:         '../img/bg_button_right_gray.png';
$shadowTop:         '../img/fondo_pie.png';
$messageImg:        'https://extranet.osde.com.ar/OSDEExtranet/jsp/multiempresas/osde/img/slider/02.jpg';
